label{
    color: #5c5b5b
}
.title{
    font-size: 25pt;
    color: #5c5b5b;
}
.form{
    margin-top: 30px;
    box-shadow: 1px 1px 6px 6px #b9bbb9;
    padding: 1%;
    margin-bottom: 30px;
}

.form-group{
    margin-left: 10px;
    margin-right: 10px
}
input{
    border-radius: 0px!important;
    border-color: #dfdfdf
}
.btn{
    border-radius: 0px!important;
    margin-left: 10px
}
small{
    color: #6b6b6b
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
.uneditable-input:focus {
  border-color: rgba(46, 94, 41, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(71, 134, 59, 0.6);
  outline: 0 none;
}
.icon{
    margin-left: 5px;
    margin-right: 5px;
}
#loader{
    text-align: center;
}
.react-datepicker-wrapper{
    display: grid!important;
}
